# Основний фреймворк та сервер
fastapi==0.109.0
uvicorn[standard]==0.27.0

# Валідація та налаштування (за Любановичем)
pydantic[email]==2.6.1
pydantic-settings==2.1.0

# Робота з базою даних (Асинхронна SQLite)
sqlalchemy[asyncio]==2.0.25
aiosqlite

# Робота з формами та файлами
python-multipart==0.0.9

# Тестування та HTTP-запити
httpx==0.26.0

# Шаблони (якщо знадобиться рендеринг сторінок)
jinja2==3.1.3

# Безпека та авторизація (JWT + Хешування)
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.1.2

# Валідація користувача
authx
typing
