* {
  margin: 0;
  padding: 0;
}

:root {
  --background-fon-modal: #0c0a29;
  --background-header-modal: #0a0920;
  --background-btn-header: #1d1b3a;
  --color-btn-text-header: #ffffff;
}

body {
  width: 347px;
  height: 264px;
  border-radius: 25px;
  background-color: var(--background-fon-modal);
}

.ver-header {
  height: 55px;
  background: var(--background-header-modal);
  border-bottom: 1px solid var(--background-btn-header);
}

.ver-header-component {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.ver-header-component .ver-header-login button {
  width: 106px;
  height: 23px;
  border: none;
  border-radius: 5px;
  /*=============================== */
  font-family: "Akatab";
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0px;
  background: var(--background-btn-header);
  color: var(--color-btn-text-header);
}

/* ============== */
.translation-progress {
  padding-left: 17px;
}

.translation-title {
  color: var(--color-btn-text-header);
  /*!  Додай шрифффффффффффффффффффффффт */
  font-family: "Akatab";
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0px;
  margin-top: 12px;
}

.translation-time {
  font-family: "Akatab";
  font-weight: 400;
  font-style: Regular;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0px;
  color: var(--color-btn-text-header);
  margin-left: 20px;
}

.main-progress-wrapper {
  position: relative;
  width: 320px;
  height: 10px;
  background: #2b2948;
  border-radius: 999px;
  margin-bottom: 20px;
}

.main-progress-fill {
  width: 20%;
  height: 100%;
  border-radius: 999px;
  background: linear-gradient(to right, #6ec6ff, #b030b0);
}

.main-progress-percent {
  position: absolute;
  right: 0;
  top: -24px;
  color: #ffffff;
  font-size: 14px;
}

.audio-slider {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 10px;
  background: #1a1738;
  width: 300px;
  height: 15px;
  opacity: 1;
  border-radius: 5px;
}

.audio-label {
  width: 46px;
  height: 14px;
  opacity: 1;
  color: var(--color-btn-text-header);
  font-size: 14px;
  font-family: "Akatab";
  font-weight: 400;
  font-style: Regular;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0px;
}

.audio-percent {
  color: var(--color-btn-text-header);
  font-size: 12px;
  min-width: 36px;
  text-align: right;
  /*  */
  font-family: "Akatab";
  font-weight: 400;
  font-style: Regular;
  font-size: 7px;
  line-height: 16px;
  letter-spacing: 0px;
}

.range-slider {
  flex: 1;
  cursor: pointer;
  width: 206px;
  height: 4px;
  opacity: 1;
  border-radius: 99px;
  background: linear-gradient(90deg, #46145c 79.33%, #6a2d85 100%);
}
/*  */
.btn-start-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.btn-start-wrapper .ac{
  display: none;
}

.btn-start {
  width: 106px;
  height: 23px;
  border: none;
  border-radius: 5px;
  /*=============================== */
  font-family: "Akatab";
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0px;
  background: var(--color-btn-text-header);
  color: var(--background-btn-header);
}
