* {
  margin: 0;
  padding: 0;
}

:root {
  --background-fon-modal: #FFFFFF;
  /* /* --background-header-modal: #0a0920; */
  --background-btn-nadFooter: #1e7a57;
  --color-btn-text-login: #E6F1EC;
  --color-text-black: #000000;
  --color-text-header: #5f6f68;
  --color-solid-bottom-header: #145a4169;
}

body {
  width: 320px;
  height: 220px;
  border-radius: 4px;
  background-color: var(--background-fon-modal);
}

.ver-header {
  height: 35px;
  /* border-bottom: 1px solid var(--background-btn-header); */
  border-bottom: 1px solid var(--color-solid-bottom-header);
}

.ver-header-component {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-left: 15px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo h1 {
  /* ! text-shrupht */
  font-family: "Inter";
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  color: var(--color-text-header);
}

/*! ====================== */

.ver-hero-Login {
  display: flex;
  gap: 15px;
  padding-top: 10px;
  padding-left: 15px;
}

.ver-hero-Login-img__lock {
  width: 50px;
  height: 50px;
}

.ver-hero-login-text h2 {
  font-family: "Inter";
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  color: var(--color-text-black);
}

.ver-hero-login-text h3 {
  font-family: "Inter";
  font-weight: 400;
  font-style: Regular;
  font-size: 8px;
  line-height: 16px;
  letter-spacing: 0%;
  color: var(--color-text-header);
}

/* ======================= */

.ver-centerInformation-notActiveMova {
  padding-top: 5px;
  padding-left: 15px;
}

.ver-centerInformation-notActiveMova h2 {
  padding-top: 5px;
  font-family: "Inter";
  font-weight: 400;
  font-style: Regular;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-text-black);
}

.terms-wrapper {
  border-radius: 6px;
  transition: all 0.3s ease;
  display: inline-block;
}

.terms-wrapper .terms-label span {
  padding-right: 5px;
  font-family: "Inter";
  font-weight: 400;
  font-style: Regular;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-text-black);
}

.terms-checkbox {
  width: 10px;
  height: 10px;
  cursor: pointer;
}
/* Клас помилки, який Vue автоматично додасть/прибере */
.has-error .terms-label span {
  color: #ff4d4d;
  animation: flash-error 0.5s ease-in-out infinite alternate;
}

@keyframes flash-error {
  0% {
    transform: scale(1);
    text-shadow: 0 0 0px rgba(255, 77, 77, 0);
  }
  100% {
    transform: scale(1.02);
    text-shadow: 0 0 8px rgba(255, 77, 77, 0.6);
  }
}

/* Lodin */

.ver-nadFooter-login {
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
}

.ver-nadFooter-login button {
  width: 317px;
  height: 23px;
  border: none;
  border-radius: 5px;
  /*=============================== */
  font-family: "Akatab";
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0px;
  background: var(--background-btn-nadFooter);
  color: var(--color-btn-text-login);
}

/* Recklames */
.ver-footer-recklames {
  width: 100%;
  padding-top: 10px;
  padding-left: 15px;
}
/*! =========================================== */
/* .ver-footer-recklames h3 {
  padding-right: 5px;
  font-family: "Inter";
  font-weight: 200;
  font-style: Extra Light;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-btn-text-login);
}

.ver-footer-recklames a {
  color: var(--color-text-header);
  text-decoration: none;
  font-weight: 400;
  font-style: Regular;
  font-size: 8px;
}

.ver-footer-recklames a:hover {
  color: var(--background-btn-nadFooter);
  text-decoration: none;
  font-weight: 500;
  font-style: Regular;
  font-size: 10px;
} */

/*! Panel 2 */

.panel-2-hero-img__worldPanel2 {
  padding-top: 15px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.panel-2-hero-img__worldPanel2 h2 {
  font-family: "Inter";
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-text-black);
}

/* ActiveMova */

.panel-2-main-ActiveMova {
  padding-top: 5px;
  padding-left: 15px;
}

.panel-2-main-ActiveMova-Zmova, .panel-2-main-ActiveMova-Namova, .panel-2-main-radio-voice {
  padding-top: 5px;
  display: flex;
  align-items: center;
  gap: 10px; 
}

.panel-2-main-ActiveMova-Zmova h2, .panel-2-main-ActiveMova-Namova h2, .panel-2-main-radio-voice h2 {
  font-family: "Inter";
  font-weight: 400;
  font-style: Regular;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-text-black);
}

.panel-2-main-ActiveMova-Zmova select, .panel-2-main-ActiveMova-Namova select {
  width: 100px;
  height: 20px;
  border: 1px solid var(--color-solid-bottom-header);
  border-radius: 5px;
  background-color: var(--background-fon-modal);
  color: var(--color-text-black);
  padding: 4px 8px;
  appearance: none;
  --webkit-appearance: none;
  --moz-appearance: none;
  cursor:pointer;
  font-family: "Inter";
  font-weight: 400;
  font-size: 10px;
}